In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = '.../FoodEnvironmentAtlas (2).xls'
xls = pd.ExcelFile(file_path, engine='xlrd')

In [3]:
sheet_names = xls.sheet_names
print(sheet_names)

['Read_Me', ' Variable List', 'Supplemental Data - County', 'Supplemental Data - State', 'ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'TAXES', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC']

In [4]:
county_df = pd.read_excel(xls, sheet_name="Supplemental Data - County", engine='xlrd')

state_df = pd.read_excel(xls, sheet_name="Supplemental Data - State", engine='xlrd')

In [5]:
state_df.columns

Index(['StateFIPS', 'State', 'WIC_PART_2012', 'WIC_PART_2013', 'WIC_PART_2014',
       'WIC_PART_2015', 'WIC_PART_2016', 'WIC_PART_2017', 'WIC_PART_2018',
       'NSLP_PART_2012', 'NSLP_PART_2013', 'NSLP_PART_2014', 'NSLP_PART_2015',
       'NSLP_PART_2016', 'NSLP_PART_2017', 'NSLP_PART_2018', 'SBP_PART_2012',
       'SBP_PART_2013', 'SBP_PART_2014', 'SBP_PART_2015', 'SBP_PART_2016',
       'SBP_PART_2017', 'SBP_PART_2018', 'CACFP_PART_2012', 'CACFP_PART_2013',
       'CACFP_PART_2014', 'CACFP_PART_2015', 'CACFP_PART_2016',
       'CACFP_PART_2017', 'CACFP_PART_2018', 'SFSP_PART_2012',
       'SFSP_PART_2013', 'SFSP_PART_2014', 'SFSP_PART_2015', 'SFSP_PART_2016',
       'SFSP_PART_2017', 'SFSP_PART_2018', 'State_Population_2012',
       'State_Population_2013', 'State_Population_2014',
       'State_Population_2015', 'State_Population_2016',
       'State_Population_2017', 'State_Population_2018'],
      dtype='object')

In [6]:
selected_columns = ['State','State_Population_2015','WIC_PART_2015','NSLP_PART_2015','CACFP_PART_2015']
df2 = state_df[selected_columns]
df2.columns

Index(['State', 'State_Population_2015', 'WIC_PART_2015', 'NSLP_PART_2015',
       'CACFP_PART_2015'],
      dtype='object')

In [7]:
access_df = pd.read_excel(xls, sheet_name="ACCESS", engine='xlrd')
access_df.columns

Index(['FIPS', 'State', 'County', 'LACCESS_POP10', 'LACCESS_POP15',
       'PCH_LACCESS_POP_10_15', 'PCT_LACCESS_POP10', 'PCT_LACCESS_POP15',
       'LACCESS_LOWI10', 'LACCESS_LOWI15', 'PCH_LACCESS_LOWI_10_15',
       'PCT_LACCESS_LOWI10', 'PCT_LACCESS_LOWI15', 'LACCESS_HHNV10',
       'LACCESS_HHNV15', 'PCH_LACCESS_HHNV_10_15', 'PCT_LACCESS_HHNV10',
       'PCT_LACCESS_HHNV15', 'LACCESS_SNAP15', 'PCT_LACCESS_SNAP15',
       'LACCESS_CHILD10', 'LACCESS_CHILD15', 'LACCESS_CHILD_10_15',
       'PCT_LACCESS_CHILD10', 'PCT_LACCESS_CHILD15', 'LACCESS_SENIORS10',
       'LACCESS_SENIORS15', 'PCH_LACCESS_SENIORS_10_15',
       'PCT_LACCESS_SENIORS10', 'PCT_LACCESS_SENIORS15', 'LACCESS_WHITE15',
       'PCT_LACCESS_WHITE15', 'LACCESS_BLACK15', 'PCT_LACCESS_BLACK15',
       'LACCESS_HISP15', 'PCT_LACCESS_HISP15', 'LACCESS_NHASIAN15',
       'PCT_LACCESS_NHASIAN15', 'LACCESS_NHNA15', 'PCT_LACCESS_NHNA15',
       'LACCESS_NHPI15', 'PCT_LACCESS_NHPI15', 'LACCESS_MULTIR15',
       'PCT_LACCESS_MULTIR15'],
      dtype='object')

In [8]:
selected_columns_Access = ['State', 'County','LACCESS_POP15','LACCESS_LOWI15','LACCESS_HHNV15','LACCESS_SNAP15',
                           'LACCESS_CHILD15','PCT_LACCESS_CHILD15','LACCESS_SENIORS15','LACCESS_WHITE15',
                           'LACCESS_BLACK15','LACCESS_HISP15','LACCESS_NHASIAN15','LACCESS_NHNA15',
                           'LACCESS_MULTIR15']

In [9]:
df_access = access_df[selected_columns_Access]
df_access.columns

Index(['State', 'County', 'LACCESS_POP15', 'LACCESS_LOWI15', 'LACCESS_HHNV15',
       'LACCESS_SNAP15', 'LACCESS_CHILD15', 'PCT_LACCESS_CHILD15',
       'LACCESS_SENIORS15', 'LACCESS_WHITE15', 'LACCESS_BLACK15',
       'LACCESS_HISP15', 'LACCESS_NHASIAN15', 'LACCESS_NHNA15',
       'LACCESS_MULTIR15'],
      dtype='object')

In [10]:
df_access.to_excel('Access data.xlsx')
df_access

,State,County,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,PCT_LACCESS_CHILD15,LACCESS_SENIORS15,LACCESS_WHITE15,LACCESS_BLACK15,LACCESS_HISP15,LACCESS_NHASIAN15,LACCESS_NHNA15,LACCESS_MULTIR15
0,AL,Autauga,17496.693038,6543.676824,677.672769,931.935186,4616.971480,8.460485,2180.809285,12640.615414,4216.473194,471.136164,86.767975,61.169869,482.848633
1,AL,Baldwin,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,3.844936,5580.662790,25483.186811,3540.965826,1377.874834,212.946378,181.649648,1127.696098
2,AL,Barbour,6069.523628,2948.790251,425.144927,422.569040,1031.927776,3.758341,824.175262,2828.876711,2713.124930,509.377525,17.096410,39.960527,462.382655
3,AL,Bibb,969.378841,596.162829,224.388125,53.818772,232.642670,1.015242,137.688231,540.512239,419.099942,8.596762,1.994318,2.513097,5.259244
4,AL,Blount,3724.428242,1650.959482,719.931444,175.370338,910.686113,1.588720,505.914282,3387.241266,95.842687,497.489891,8.428994,28.938242,202.914187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,WY,Sweetwater,18934.737809,4750.905615,359.608360,352.866113,4852.757500,11.077838,1951.212126,16811.003936,186.278452,2661.350520,114.722086,189.621441,1605.391465
3139,WY,Teton,6212.390430,1577.771012,48.474161,60.192270,1096.186959,5.147868,657.160241,5648.425247,9.089826,736.174507,53.489780,32.482255,460.434464
3140,WY,Uinta,4686.017653,2054.179828,211.630840,158.918171,1439.223015,6.815148,437.130401,4259.949882,14.989817,535.616715,13.831709,40.339658,350.320469
3141,WY,Washakie,931.411647,309.030331,42.030853,36.804973,184.506884,2.162275,219.490015,883.877353,2.000000,35.474502,6.366775,5.006976,34.160542
3142,WY,Weston,1237.267037,302.697580,112.645982,29.336258,252.611605,3.504601,213.337163,1198.804198,0.000000,28.073114,2.771750,10.372147,24.811192

In [11]:
county_df.columns

Index(['FIPS', 'County', 'State', '2010_Census_Population',
       'Population_Estimate_2011', 'Population_Estimate_2012',
       'Population_Estimate_2013', 'Population_Estimate_2014',
       'Population_Estimate_2015', 'Population_Estimate_2016',
       'Population_Estimate_2017', 'Population_Estimate_2018'],
      dtype='object')

In [12]:
df_cnty_pop = county_df[['County','Population_Estimate_2015']]
df_cnty_pop.to_excel('County population.xlsx')
df_cnty_pop

                 County  Population_Estimate_2015
0        Autauga County                     54838
1        Baldwin County                    202995
2        Barbour County                     26294
3           Bibb County                     22562
4         Blount County                     57522
...                 ...                       ...
3137  Sweetwater County                     44754
3138       Teton County                     23016
3139       Uinta County                     20770
3140    Washakie County                      8280
3141      Weston County                      7197

[3142 rows x 2 columns]

# The access dataset has been changed to include the population data of each county.

In [13]:
df_access1 = pd.read_excel('Access data2.xlsx')
df_access1

,Unnamed: 0,State,County,Population_Estimate_2015,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,PCT_LACCESS_CHILD15,LACCESS_SENIORS15,LACCESS_WHITE15,LACCESS_BLACK15,LACCESS_HISP15,LACCESS_NHASIAN15,LACCESS_NHNA15,LACCESS_MULTIR15
0,0,AL,Autauga,54838,17496.693038,6543.676824,677.672769,931.935186,4616.971480,8.460485,2180.809285,12640.615414,4216.473194,471.136164,86.767975,61.169869,482.848633
1,1,AL,Baldwin,202995,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,3.844936,5580.662790,25483.186811,3540.965826,1377.874834,212.946378,181.649648,1127.696098
2,2,AL,Barbour,26294,6069.523628,2948.790251,425.144927,422.569040,1031.927776,3.758341,824.175262,2828.876711,2713.124930,509.377525,17.096410,39.960527,462.382655
3,3,AL,Bibb,22562,969.378841,596.162829,224.388125,53.818772,232.642670,1.015242,137.688231,540.512239,419.099942,8.596762,1.994318,2.513097,5.259244
4,4,AL,Blount,57522,3724.428242,1650.959482,719.931444,175.370338,910.686113,1.588720,505.914282,3387.241266,95.842687,497.489891,8.428994,28.938242,202.914187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,3138,WY,Sweetwater,44754,18934.737809,4750.905615,359.608360,352.866113,4852.757500,11.077838,1951.212126,16811.003936,186.278452,2661.350520,114.722086,189.621441,1605.391465
3138,3139,WY,Teton,23016,6212.390430,1577.771012,48.474161,60.192270,1096.186959,5.147868,657.160241,5648.425247,9.089826,736.174507,53.489780,32.482255,460.434464
3139,3140,WY,Uinta,20770,4686.017653,2054.179828,211.630840,158.918171,1439.223015,6.815148,437.130401,4259.949882,14.989817,535.616715,13.831709,40.339658,350.320469
3140,3141,WY,Washakie,8280,931.411647,309.030331,42.030853,36.804973,184.506884,2.162275,219.490015,883.877353,2.000000,35.474502,6.366775,5.006976,34.160542
3141,3142,WY,Weston,7197,1237.267037,302.697580,112.645982,29.336258,252.611605,3.504601,213.337163,1198.804198,0.000000,28.073114,2.771750,10.372147,24.811192

In [14]:
store_df = pd.read_excel(xls, sheet_name="STORES", engine='xlrd')
store_df.columns

Index(['FIPS', 'State', 'County', 'GROC11', 'GROC16', 'PCH_GROC_11_16',
       'GROCPTH11', 'GROCPTH16', 'PCH_GROCPTH_11_16', 'SUPERC11', 'SUPERC16',
       'PCH_SUPERC_11_16', 'SUPERCPTH11', 'SUPERCPTH16', 'PCH_SUPERCPTH_11_16',
       'CONVS11', 'CONVS16', 'PCH_CONVS_11_16', 'CONVSPTH11', 'CONVSPTH16',
       'PCH_CONVSPTH_11_16', 'SPECS11', 'SPECS16', 'PCH_SPECS_11_16',
       'SPECSPTH11', 'SPECSPTH16', 'PCH_SPECSPTH_11_16', 'SNAPS12', 'SNAPS17',
       'PCH_SNAPS_12_17', 'SNAPSPTH12', 'SNAPSPTH17', 'PCH_SNAPSPTH_12_17',
       'WICS11', 'WICS16', 'PCH_WICS_11_16', 'WICSPTH11', 'WICSPTH16',
       'PCH_WICSPTH_11_16'],
      dtype='object')

In [15]:
store_df = store_df[['State', 'County', 'GROC11', 'GROC16','SUPERC11', 'SUPERC16','CONVS11', 'CONVS16','CONVSPTH11', 'CONVSPTH16',
                    'SPECS11', 'SPECS16','SNAPS12', 'SNAPS17','WICS11', 'WICS16']]
store_df

,State,County,GROC11,GROC16,SUPERC11,SUPERC16,CONVS11,CONVS16,CONVSPTH11,CONVSPTH16,SPECS11,SPECS16,SNAPS12,SNAPS17,WICS11,WICS16
0,AL,Autauga,5,3,1,1,31,31,0.561604,0.560802,1,1,37.416667,44.666667,5.0,5.0
1,AL,Baldwin,27,29,6,7,107,118,0.573622,0.568650,20,27,138.333333,189.416667,26.0,28.0
2,AL,Barbour,6,4,0,1,22,19,0.804358,0.737177,3,2,34.833333,36.000000,7.0,6.0
3,AL,Bibb,6,5,1,1,19,15,0.835348,0.662749,0,0,16.250000,18.166667,6.0,5.0
4,AL,Blount,7,5,1,1,30,27,0.521177,0.469059,1,0,38.000000,40.166667,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,WY,Sweetwater,5,4,1,1,28,22,0.636176,0.497231,1,1,19.416667,27.250000,4.0,4.0
3139,WY,Teton,5,11,0,0,13,19,0.605327,0.819672,6,8,5.250000,8.000000,3.0,3.0
3140,WY,Uinta,3,2,1,1,12,13,0.574190,0.627686,2,2,11.666667,15.250000,3.0,3.0
3141,WY,Washakie,2,2,0,0,4,3,0.472813,0.366390,0,0,5.666667,6.083333,2.0,2.0
3142,WY,Weston,4,4,0,0,3,4,0.420109,0.555710,0,0,6.916667,8.583333,3.0,3.0

In [16]:
bedford_rows = store_df.apply(lambda row: row.astype(str).str.contains('Bedford').any(), axis=1)

In [17]:
bedford_rows

0       False
1       False
2       False
3       False
4       False
        ...
3138    False
3139    False
3140    False
3141    False
3142    False
Length: 3143, dtype: bool

In [18]:
store_df[bedford_rows]

,State,County,GROC11,GROC16,SUPERC11,SUPERC16,CONVS11,CONVS16,CONVSPTH11,CONVSPTH16,SPECS11,SPECS16,SNAPS12,SNAPS17,WICS11,WICS16
2248,PA,Bedford,11,15,0,0,26,25,0.524035,0.513853,7,5,35.916667,37.833333,8.0,6.0
2429,TN,Bedford,9,7,1,1,30,27,0.663321,0.569380,1,2,39.166667,44.416667,6.0,6.0
2829,VA,Bedford,11,7,1,0,30,23,0.397035,0.295523,3,2,34.916667,48.000000,7.0,6.0
2916,VA,Bedford,2,3,0,1,10,6,0.000000,0.000000,1,1,12.416667,3.000000,1.0,1.0

In [19]:
# Identify the last occurrence of the row where 'County' is 'Bedford' and 'State' is 'VA'
last_index = store_df[(store_df['County'] == 'Bedford') & (store_df['State'] == 'VA')].index[-1]

# Drop the row with the identified index
store_df1 = store_df.drop(index=last_index)

In [20]:
store_df1

,State,County,GROC11,GROC16,SUPERC11,SUPERC16,CONVS11,CONVS16,CONVSPTH11,CONVSPTH16,SPECS11,SPECS16,SNAPS12,SNAPS17,WICS11,WICS16
0,AL,Autauga,5,3,1,1,31,31,0.561604,0.560802,1,1,37.416667,44.666667,5.0,5.0
1,AL,Baldwin,27,29,6,7,107,118,0.573622,0.568650,20,27,138.333333,189.416667,26.0,28.0
2,AL,Barbour,6,4,0,1,22,19,0.804358,0.737177,3,2,34.833333,36.000000,7.0,6.0
3,AL,Bibb,6,5,1,1,19,15,0.835348,0.662749,0,0,16.250000,18.166667,6.0,5.0
4,AL,Blount,7,5,1,1,30,27,0.521177,0.469059,1,0,38.000000,40.166667,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,WY,Sweetwater,5,4,1,1,28,22,0.636176,0.497231,1,1,19.416667,27.250000,4.0,4.0
3139,WY,Teton,5,11,0,0,13,19,0.605327,0.819672,6,8,5.250000,8.000000,3.0,3.0
3140,WY,Uinta,3,2,1,1,12,13,0.574190,0.627686,2,2,11.666667,15.250000,3.0,3.0
3141,WY,Washakie,2,2,0,0,4,3,0.472813,0.366390,0,0,5.666667,6.083333,2.0,2.0
3142,WY,Weston,4,4,0,0,3,4,0.420109,0.555710,0,0,6.916667,8.583333,3.0,3.0

In [21]:
rest_df = pd.read_excel(xls, sheet_name="RESTAURANTS", engine='xlrd')
rest_df.columns

Index(['FIPS', 'State', 'County', 'FFR11', 'FFR16', 'PCH_FFR_11_16',
       'FFRPTH11', 'FFRPTH16', 'PCH_FFRPTH_11_16', 'FSR11', 'FSR16',
       'PCH_FSR_11_16', 'FSRPTH11', 'FSRPTH16', 'PCH_FSRPTH_11_16',
       'PC_FFRSALES07', 'PC_FFRSALES12', 'PC_FSRSALES07', 'PC_FSRSALES12'],
      dtype='object')

In [22]:
rest_df = rest_df[['State', 'County', 'FFR11', 'FFR16']]
rest_df

     State      County  FFR11  FFR16
0       AL     Autauga     34     44
1       AL     Baldwin    121    156
2       AL     Barbour     19     23
3       AL        Bibb      6      7
4       AL      Blount     20     23
...    ...         ...    ...    ...
3138    WY  Sweetwater     25     31
3139    WY       Teton     27     20
3140    WY       Uinta     19     17
3141    WY    Washakie      7      6
3142    WY      Weston      3      4

[3143 rows x 4 columns]

In [23]:
# Identify the last occurrence of the row where 'County' is 'Bedford' and 'State' is 'VA'
last_index1 = rest_df[(rest_df['County'] == 'Bedford') & (rest_df['State'] == 'VA')].index[-1]

# Drop the row with the identified index
rest_df1 = rest_df.drop(index=last_index1)
rest_df1

     State      County  FFR11  FFR16
0       AL     Autauga     34     44
1       AL     Baldwin    121    156
2       AL     Barbour     19     23
3       AL        Bibb      6      7
4       AL      Blount     20     23
...    ...         ...    ...    ...
3138    WY  Sweetwater     25     31
3139    WY       Teton     27     20
3140    WY       Uinta     19     17
3141    WY    Washakie      7      6
3142    WY      Weston      3      4

[3142 rows x 4 columns]

In [24]:
insecurity_df = pd.read_excel(xls, sheet_name="INSECURITY", engine='xlrd')
insecurity_df

,FIPS,State,County,FOODINSEC_12_14,FOODINSEC_15_17,CH_FOODINSEC_14_17,VLFOODSEC_12_14,VLFOODSEC_15_17,CH_VLFOODSEC_14_17
0,1001,AL,Autauga,16.8,16.3,-0.5,7.2,7.1,-0.1
1,1003,AL,Baldwin,16.8,16.3,-0.5,7.2,7.1,-0.1
2,1005,AL,Barbour,16.8,16.3,-0.5,7.2,7.1,-0.1
3,1007,AL,Bibb,16.8,16.3,-0.5,7.2,7.1,-0.1
4,1009,AL,Blount,16.8,16.3,-0.5,7.2,7.1,-0.1
...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,14.0,13.2,-0.8,5.3,5.1,-0.2
3139,56039,WY,Teton,14.0,13.2,-0.8,5.3,5.1,-0.2
3140,56041,WY,Uinta,14.0,13.2,-0.8,5.3,5.1,-0.2
3141,56043,WY,Washakie,14.0,13.2,-0.8,5.3,5.1,-0.2
3142,56045,WY,Weston,14.0,13.2,-0.8,5.3,5.1,-0.2

In [25]:
# Identify the last occurrence of the row where 'County' is 'Bedford' and 'State' is 'VA'
last_index2 = insecurity_df[(insecurity_df['County'] == 'Bedford') & (insecurity_df['State'] == 'VA')].index[-1]

# Drop the row with the identified index
insecurity_df1 = insecurity_df.drop(index=last_index2)
insecurity_df1

,FIPS,State,County,FOODINSEC_12_14,FOODINSEC_15_17,CH_FOODINSEC_14_17,VLFOODSEC_12_14,VLFOODSEC_15_17,CH_VLFOODSEC_14_17
0,1001,AL,Autauga,16.8,16.3,-0.5,7.2,7.1,-0.1
1,1003,AL,Baldwin,16.8,16.3,-0.5,7.2,7.1,-0.1
2,1005,AL,Barbour,16.8,16.3,-0.5,7.2,7.1,-0.1
3,1007,AL,Bibb,16.8,16.3,-0.5,7.2,7.1,-0.1
4,1009,AL,Blount,16.8,16.3,-0.5,7.2,7.1,-0.1
...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,14.0,13.2,-0.8,5.3,5.1,-0.2
3139,56039,WY,Teton,14.0,13.2,-0.8,5.3,5.1,-0.2
3140,56041,WY,Uinta,14.0,13.2,-0.8,5.3,5.1,-0.2
3141,56043,WY,Washakie,14.0,13.2,-0.8,5.3,5.1,-0.2
3142,56045,WY,Weston,14.0,13.2,-0.8,5.3,5.1,-0.2

In [26]:
insecurity_df1.columns

Index(['FIPS', 'State', 'County', 'FOODINSEC_12_14', 'FOODINSEC_15_17',
       'CH_FOODINSEC_14_17', 'VLFOODSEC_12_14', 'VLFOODSEC_15_17',
       'CH_VLFOODSEC_14_17'],
      dtype='object')

In [27]:
insecurity_df1 = insecurity_df1[['State', 'County','FOODINSEC_15_17','VLFOODSEC_15_17']]
insecurity_df1

     State      County  FOODINSEC_15_17  VLFOODSEC_15_17
0       AL     Autauga             16.3              7.1
1       AL     Baldwin             16.3              7.1
2       AL     Barbour             16.3              7.1
3       AL        Bibb             16.3              7.1
4       AL      Blount             16.3              7.1
...    ...         ...              ...              ...
3138    WY  Sweetwater             13.2              5.1
3139    WY       Teton             13.2              5.1
3140    WY       Uinta             13.2              5.1
3141    WY    Washakie             13.2              5.1
3142    WY      Weston             13.2              5.1

[3142 rows x 4 columns]

In [28]:
poverty_df = pd.read_excel(xls, sheet_name="SOCIOECONOMIC", engine='xlrd')
poverty_df.columns

Index(['FIPS', 'State', 'County', 'PCT_NHWHITE10', 'PCT_NHBLACK10',
       'PCT_HISP10', 'PCT_NHASIAN10', 'PCT_NHNA10', 'PCT_NHPI10',
       'PCT_65OLDER10', 'PCT_18YOUNGER10', 'MEDHHINC15', 'POVRATE15',
       'PERPOV10', 'CHILDPOVRATE15', 'PERCHLDPOV10', 'METRO13', 'POPLOSS10'],
      dtype='object')

In [29]:
# Identify the last occurrence of the row where 'County' is 'Bedford' and 'State' is 'VA'
last_index3 = poverty_df[(poverty_df['County'] == 'Bedford') & (poverty_df['State'] == 'VA')].index[-1]

# Drop the row with the identified index
poverty_df1 = poverty_df.drop(index=last_index3)
poverty_df1

,FIPS,State,County,PCT_NHWHITE10,PCT_NHBLACK10,PCT_HISP10,PCT_NHASIAN10,PCT_NHNA10,PCT_NHPI10,PCT_65OLDER10,PCT_18YOUNGER10,MEDHHINC15,POVRATE15,PERPOV10,CHILDPOVRATE15,PERCHLDPOV10,METRO13,POPLOSS10
0,1001,AL,Autauga,77.246156,17.582599,2.400542,0.855766,0.397647,0.040314,11.995382,26.777959,56580.0,12.7,0,18.8,0,1,0.0
1,1003,AL,Baldwin,83.504787,9.308425,4.384824,0.735193,0.628755,0.043343,16.771185,22.987408,52387.0,12.9,0,19.6,0,1,0.0
2,1005,AL,Barbour,46.753105,46.691190,5.051535,0.389700,0.218524,0.087409,14.236807,21.906982,31433.0,32.0,1,45.2,1,0,0.0
3,1007,AL,Bibb,75.020729,21.924504,1.771765,0.096007,0.279293,0.030548,12.681650,22.696923,40767.0,22.2,0,29.3,1,1,0.0
4,1009,AL,Blount,88.887338,1.263040,8.070200,0.200621,0.497191,0.031402,14.722096,24.608353,50487.0,14.7,0,22.2,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,80.883897,0.947359,15.269598,0.739625,0.723645,0.093594,8.316212,27.094462,71867.0,8.5,0,10.2,0,0,0.0
3139,56039,WY,Teton,82.206255,0.150277,14.985442,1.070724,0.356908,0.061050,9.852541,19.141542,83290.0,6.6,0,7.6,0,0,0.0
3140,56041,WY,Uinta,88.531111,0.227294,8.783976,0.279383,0.582442,0.161000,8.873946,30.168577,62968.0,9.8,0,11.9,0,0,0.0
3141,56043,WY,Washakie,83.886089,0.257823,13.617719,0.539084,0.597680,0.011719,17.672565,25.454119,56088.0,11.2,0,15.7,0,0,0.0
3142,56045,WY,Weston,93.812431,0.249723,2.996670,0.277469,1.193119,0.027747,15.940622,21.822974,60986.0,9.8,0,13.1,0,0,0.0

In [30]:
poverty_df1 = poverty_df1[['State', 'County','MEDHHINC15', 'POVRATE15']]
poverty_df1

     State      County  MEDHHINC15  POVRATE15
0       AL     Autauga     56580.0       12.7
1       AL     Baldwin     52387.0       12.9
2       AL     Barbour     31433.0       32.0
3       AL        Bibb     40767.0       22.2
4       AL      Blount     50487.0       14.7
...    ...         ...         ...        ...
3138    WY  Sweetwater     71867.0        8.5
3139    WY       Teton     83290.0        6.6
3140    WY       Uinta     62968.0        9.8
3141    WY    Washakie     56088.0       11.2
3142    WY      Weston     60986.0        9.8

[3142 rows x 4 columns]

In [31]:
# Merge the dataframes on 'State' and 'County', ensuring 'State' and 'County' from df_access1
merged_df = df_access1.merge(store_df1.drop(columns=['State', 'County']), left_index=True, right_index=True)
merged_df = merged_df.merge(rest_df1.drop(columns=['State', 'County']), left_index=True, right_index=True)
merged_df = merged_df.merge(insecurity_df1.drop(columns=['State', 'County']), left_index=True, right_index=True)
merged_df = merged_df.merge(poverty_df1.drop(columns=['State', 'County']), left_index=True, right_index=True)

In [32]:
merged_df

,Unnamed: 0,State,County,Population_Estimate_2015,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,PCT_LACCESS_CHILD15,...,SNAPS12,SNAPS17,WICS11,WICS16,FFR11,FFR16,FOODINSEC_15_17,VLFOODSEC_15_17,MEDHHINC15,POVRATE15
0,0,AL,Autauga,54838,17496.693038,6543.676824,677.672769,931.935186,4616.971480,8.460485,...,37.416667,44.666667,5.0,5.0,34,44,16.3,7.1,56580.0,12.7
1,1,AL,Baldwin,202995,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,3.844936,...,138.333333,189.416667,26.0,28.0,121,156,16.3,7.1,52387.0,12.9
2,2,AL,Barbour,26294,6069.523628,2948.790251,425.144927,422.569040,1031.927776,3.758341,...,34.833333,36.000000,7.0,6.0,19,23,16.3,7.1,31433.0,32.0
3,3,AL,Bibb,22562,969.378841,596.162829,224.388125,53.818772,232.642670,1.015242,...,16.250000,18.166667,6.0,5.0,6,7,16.3,7.1,40767.0,22.2
4,4,AL,Blount,57522,3724.428242,1650.959482,719.931444,175.370338,910.686113,1.588720,...,38.000000,40.166667,8.0,8.0,20,23,16.3,7.1,50487.0,14.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,3138,WY,Sweetwater,44754,18934.737809,4750.905615,359.608360,352.866113,4852.757500,11.077838,...,2.416667,6.000000,2.0,2.0,1,2,13.2,5.1,77581.0,6.1
3138,3139,WY,Teton,23016,6212.390430,1577.771012,48.474161,60.192270,1096.186959,5.147868,...,19.416667,27.250000,4.0,4.0,25,31,13.2,5.1,71867.0,8.5
3139,3140,WY,Uinta,20770,4686.017653,2054.179828,211.630840,158.918171,1439.223015,6.815148,...,5.250000,8.000000,3.0,3.0,27,20,13.2,5.1,83290.0,6.6
3140,3141,WY,Washakie,8280,931.411647,309.030331,42.030853,36.804973,184.506884,2.162275,...,11.666667,15.250000,3.0,3.0,19,17,13.2,5.1,62968.0,9.8
3141,3142,WY,Weston,7197,1237.267037,302.697580,112.645982,29.336258,252.611605,3.504601,...,5.666667,6.083333,2.0,2.0,7,6,13.2,5.1,56088.0,11.2

In [33]:
merged_df.to_excel('merged_data.xlsx')

In [34]:
df3 = pd.read_excel('merged_data_modified.xlsx')
df3

,State,County,Population_Estimate_2015,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,LACCESS_SENIORS15,LACCESS_WHITE15,...,SNAPS12,SNAPS17,WICS11,WICS16,FFR11,FFR16,FOODINSEC_15_17,VLFOODSEC_15_17,MEDHHINC15,POVRATE15
0,AL,Autauga,54838,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,...,37.416667,44.666667,5.0,5.0,34,44,16.3,7.1,56580.0,12.7
1,AL,Baldwin,202995,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,...,138.333333,189.416667,26.0,28.0,121,156,16.3,7.1,52387.0,12.9
2,AL,Barbour,26294,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,...,34.833333,36.000000,7.0,6.0,19,23,16.3,7.1,31433.0,32.0
3,AL,Bibb,22562,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,...,16.250000,18.166667,6.0,5.0,6,7,16.3,7.1,40767.0,22.2
4,AL,Blount,57522,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,...,38.000000,40.166667,8.0,8.0,20,23,16.3,7.1,50487.0,14.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,WY,Sweetwater,44754,18934.737809,4750.905615,359.608360,352.866113,4852.757500,1951.212126,16811.003936,...,2.416667,6.000000,2.0,2.0,1,2,13.2,5.1,77581.0,6.1
3137,WY,Teton,23016,6212.390430,1577.771012,48.474161,60.192270,1096.186959,657.160241,5648.425247,...,19.416667,27.250000,4.0,4.0,25,31,13.2,5.1,71867.0,8.5
3138,WY,Uinta,20770,4686.017653,2054.179828,211.630840,158.918171,1439.223015,437.130401,4259.949882,...,5.250000,8.000000,3.0,3.0,27,20,13.2,5.1,83290.0,6.6
3139,WY,Washakie,8280,931.411647,309.030331,42.030853,36.804973,184.506884,219.490015,883.877353,...,11.666667,15.250000,3.0,3.0,19,17,13.2,5.1,62968.0,9.8
3140,WY,Weston,7197,1237.267037,302.697580,112.645982,29.336258,252.611605,213.337163,1198.804198,...,5.666667,6.083333,2.0,2.0,7,6,13.2,5.1,56088.0,11.2

In [35]:
df3.columns

Index(['State', 'County', 'Population_Estimate_2015', 'LACCESS_POP15',
       'LACCESS_LOWI15', 'LACCESS_HHNV15', 'LACCESS_SNAP15', 'LACCESS_CHILD15',
       'LACCESS_SENIORS15', 'LACCESS_WHITE15', 'LACCESS_BLACK15',
       'LACCESS_HISP15', 'LACCESS_NHASIAN15', 'LACCESS_NHNA15',
       'LACCESS_MULTIR15', 'GROC11', 'GROC16', 'SUPERC11', 'SUPERC16',
       'CONVS11', 'CONVS16', 'CONVSPTH11', 'CONVSPTH16', 'SPECS11', 'SPECS16',
       'SNAPS12', 'SNAPS17', 'WICS11', 'WICS16', 'FFR11', 'FFR16',
       'FOODINSEC_15_17', 'VLFOODSEC_15_17', 'MEDHHINC15', 'POVRATE15'],
      dtype='object')

In [36]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     3141 non-null   object
 1   County                    3141 non-null   object
 2   Population_Estimate_2015  3141 non-null   int64
 3   LACCESS_POP15             3122 non-null   float64
 4   LACCESS_LOWI15            3122 non-null   float64
 5   LACCESS_HHNV15            3139 non-null   float64
 6   LACCESS_SNAP15            3122 non-null   float64
 7   LACCESS_CHILD15           3122 non-null   float64
 8   LACCESS_SENIORS15         3122 non-null   float64
 9   LACCESS_WHITE15           3122 non-null   float64
 10  LACCESS_BLACK15           3122 non-null   float64
 11  LACCESS_HISP15            3122 non-null   float64
 12  LACCESS_NHASIAN15         3122 non-null   float64
 13  LACCESS_NHNA15            3122 non-null   float64
 14  LACCESS_MULTIR15          3122 non-null   float64
 15  GROC11                    3141 non-null   int64
 16  GROC16                    3141 non-null   int64
 17  SUPERC11                  3141 non-null   int64
 18  SUPERC16                  3141 non-null   int64
 19  CONVS11                   3141 non-null   int64
 20  CONVS16                   3141 non-null   int64
 21  CONVSPTH11                3141 non-null   float64
 22  CONVSPTH16                3141 non-null   float64
 23  SPECS11                   3141 non-null   int64
 24  SPECS16                   3141 non-null   int64
 25  SNAPS12                   3141 non-null   float64
 26  SNAPS17                   3115 non-null   float64
 27  WICS11                    3009 non-null   float64
 28  WICS16                    2983 non-null   float64
 29  FFR11                     3141 non-null   int64
 30  FFR16                     3141 non-null   int64
 31  FOODINSEC_15_17           3141 non-null   float64
 32  VLFOODSEC_15_17           3141 non-null   float64
 33  MEDHHINC15                3138 non-null   float64
 34  POVRATE15                 3138 non-null   float64
dtypes: float64(22), int64(11), object(2)
memory usage: 859.0+ KB

In [37]:
df3.describe()

,Population_Estimate_2015,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,LACCESS_SENIORS15,LACCESS_WHITE15,LACCESS_BLACK15,LACCESS_HISP15,...,SNAPS12,SNAPS17,WICS11,WICS16,FFR11,FFR16,FOODINSEC_15_17,VLFOODSEC_15_17,MEDHHINC15,POVRATE15
count,3.141000e+03,3122.000000,3122.000000,3139.000000,3122.000000,3122.000000,3122.000000,3122.000000,3122.000000,3122.000000,...,3141.000000,3115.000000,3009.000000,2983.000000,3141.000000,3141.000000,3141.000000,3141.000000,3138.000000,3138.000000
mean,1.021094e+05,19298.379059,5834.965327,673.872405,804.566144,4745.631745,2571.732258,14777.933668,2270.738062,2327.547202,...,71.884458,73.557143,15.733134,14.586322,68.835403,75.741165,12.834575,5.098504,48607.262588,16.263034
std,3.282431e+05,47816.962116,13991.476298,1100.733505,1871.136783,12220.068898,6185.959437,35124.565327,8796.424758,12163.685976,...,222.130854,209.650862,56.548877,48.099911,237.109890,268.925668,2.194041,1.055064,12351.980382,6.442312
min,8.800000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.083333,1.000000,1.000000,0.000000,0.000000,7.400000,2.900000,22894.000000,3.400000
25%,1.094500e+04,1632.330222,607.945961,125.926213,68.433683,354.772853,274.056858,1317.460979,7.000000,31.138592,...,10.000000,10.416667,3.000000,2.000000,5.000000,5.000000,11.200000,4.100000,40435.000000,11.500000
50%,2.564500e+04,4131.174278,1636.344461,340.506042,217.994015,956.123349,662.445677,3350.954204,86.612488,136.433475,...,22.500000,24.083333,5.000000,5.000000,15.000000,15.000000,13.000000,5.100000,46803.500000,15.200000
75%,6.748900e+04,13149.504213,4860.318968,755.848234,687.034045,3028.902402,1848.356220,10691.855633,1010.943111,875.480501,...,54.250000,58.208333,11.000000,10.000000,43.000000,45.000000,14.000000,5.800000,54151.500000,19.700000
max,1.009704e+07,740267.412661,259479.516033,13845.220204,29461.297953,219002.492912,86014.561483,413148.285289,167913.190404,263440.500070,...,6466.666667,6112.833333,1579.000000,1188.000000,7211.000000,8264.000000,17.900000,7.100000,125900.000000,47.400000

In [38]:
df3.isnull().sum()

State                         0
County                        0
Population_Estimate_2015      0
LACCESS_POP15                19
LACCESS_LOWI15               19
LACCESS_HHNV15                2
LACCESS_SNAP15               19
LACCESS_CHILD15              19
LACCESS_SENIORS15            19
LACCESS_WHITE15              19
LACCESS_BLACK15              19
LACCESS_HISP15               19
LACCESS_NHASIAN15            19
LACCESS_NHNA15               19
LACCESS_MULTIR15             19
GROC11                        0
GROC16                        0
SUPERC11                      0
SUPERC16                      0
CONVS11                       0
CONVS16                       0
CONVSPTH11                    0
CONVSPTH16                    0
SPECS11                       0
SPECS16                       0
SNAPS12                       0
SNAPS17                      26
WICS11                      132
WICS16                      158
FFR11                         0
FFR16                         0
FOODINSEC_15_17               0
VLFOODSEC_15_17               0
MEDHHINC15                    3
POVRATE15                     3
dtype: int64

In [39]:
# Define the columns to replace null values with mean
columns_to_fill = ['LACCESS_POP15','LACCESS_LOWI15','LACCESS_HHNV15','LACCESS_SNAP15','LACCESS_CHILD15',
                   'PCT_LACCESS_CHILD15','LACCESS_SENIORS15','LACCESS_WHITE15','LACCESS_BLACK15',
                   'LACCESS_HISP15','LACCESS_NHASIAN15','LACCESS_NHNA15','LACCESS_MULTIR15','SNAPS17','WICS11','WICS16','MEDHHINC15','POVRATE15']              


# Replace null values with mean in the specified columns
for column in columns_to_fill:
    if column in df3.columns:
        mean_value = df3[column].mean()
        df3[column].fillna(mean_value, inplace=True) 

# Print the updated DataFrame
df3.isnull().sum()

/var/folders/_9/9yvd1d0d1l1_l3rc_5l_9tfc0000gn/T/ipykernel_22535/2179987420.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3[column].fillna(mean_value, inplace=True)

State                       0
County                      0
Population_Estimate_2015    0
LACCESS_POP15               0
LACCESS_LOWI15              0
LACCESS_HHNV15              0
LACCESS_SNAP15              0
LACCESS_CHILD15             0
LACCESS_SENIORS15           0
LACCESS_WHITE15             0
LACCESS_BLACK15             0
LACCESS_HISP15              0
LACCESS_NHASIAN15           0
LACCESS_NHNA15              0
LACCESS_MULTIR15            0
GROC11                      0
GROC16                      0
SUPERC11                    0
SUPERC16                    0
CONVS11                     0
CONVS16                     0
CONVSPTH11                  0
CONVSPTH16                  0
SPECS11                     0
SPECS16                     0
SNAPS12                     0
SNAPS17                     0
WICS11                      0
WICS16                      0
FFR11                       0
FFR16                       0
FOODINSEC_15_17             0
VLFOODSEC_15_17             0
MEDHHINC15                  0
POVRATE15                   0
dtype: int64

In [40]:
df3.to_excel('Food insecurity data3.xlsx')

In [41]:
# List of column prefixes
column_prefixes = ['GROC', 'SUPERC', 'CONVS', 'SPECS', 'WICS', 'FFR']

# Function to estimate 2015 data for a given pair of 2011 and 2016 columns
def estimate_2015(x1, x2):
    # Calculate dx
    dx = (x2 - x1) / 5
    
    # Set a random seed for reproducibility
    np.random.seed(42)
    
    # Generate a random number between -dx and dx
    random_number = np.random.uniform(-dx, dx)
    
    # Estimate the 2015 data
    x3 = x2 - random_number
    
    return x3

# Create new columns for 2015 data
for prefix in column_prefixes:
    col_2011 = f'{prefix}11'
    col_2016 = f'{prefix}16'
    col_2015 = f'{prefix}15'
    
    df3[col_2015] = df3.apply(lambda row: estimate_2015(row[col_2011], row[col_2016]), axis=1)

In [42]:
df3

,State,County,Population_Estimate_2015,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,LACCESS_SENIORS15,LACCESS_WHITE15,...,FOODINSEC_15_17,VLFOODSEC_15_17,MEDHHINC15,POVRATE15,GROC15,SUPERC15,CONVS15,SPECS15,WICS15,FFR15
0,AL,Autauga,54838,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,...,16.3,7.1,56580.0,12.7,2.899632,1.000000,31.000000,1.000000,5.000000,44.501840
1,AL,Baldwin,202995,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,...,16.3,7.1,52387.0,12.9,29.100368,7.050184,118.552023,27.351288,28.100368,157.756438
2,AL,Barbour,26294,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,...,16.3,7.1,31433.0,32.0,3.899632,1.050184,18.849448,1.949816,5.949816,23.200736
3,AL,Bibb,22562,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,...,16.3,7.1,40767.0,22.2,4.949816,1.000000,14.799264,0.000000,4.949816,7.050184
4,AL,Blount,57522,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,...,16.3,7.1,50487.0,14.7,4.899632,1.000000,26.849448,-0.050184,8.000000,23.150552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,WY,Sweetwater,44754,18934.737809,4750.905615,359.608360,352.866113,4852.757500,1951.212126,16811.003936,...,13.2,5.1,77581.0,6.1,3.000000,0.000000,6.949816,0.000000,2.000000,2.050184
3137,WY,Teton,23016,6212.390430,1577.771012,48.474161,60.192270,1096.186959,657.160241,5648.425247,...,13.2,5.1,71867.0,8.5,3.949816,1.000000,21.698896,1.000000,4.000000,31.301104
3138,WY,Uinta,20770,4686.017653,2054.179828,211.630840,158.918171,1439.223015,437.130401,4259.949882,...,13.2,5.1,83290.0,6.6,11.301104,0.000000,19.301104,8.100368,3.000000,19.648712
3139,WY,Washakie,8280,931.411647,309.030331,42.030853,36.804973,184.506884,219.490015,883.877353,...,13.2,5.1,62968.0,9.8,1.949816,1.000000,13.050184,2.000000,3.000000,16.899632
3140,WY,Weston,7197,1237.267037,302.697580,112.645982,29.336258,252.611605,213.337163,1198.804198,...,13.2,5.1,56088.0,11.2,2.000000,0.000000,2.949816,0.000000,2.000000,5.949816

In [43]:
# List of column prefixes
column_prefixes = ['SNAPS']

# Function to estimate 2015 data for a given pair of 2012 and 2017 columns
def estimate_2015(x1, x2):
    # Calculate dx
    dx = (x2 - x1) / 5
    
    # Set a random seed for reproducibility
    np.random.seed(42)
    
    # Generate a random number between -dx and dx
    random_number = np.random.uniform(-dx, dx)
    
    # Estimate the 2015 data
    x3 = x2 - random_number
    
    return x3

# Create new columns for 2015 data
for prefix in column_prefixes:
    col_2012 = f'{prefix}12'
    col_2017 = f'{prefix}17'
    col_2015 = f'{prefix}15'
    
    df3[col_2015] = df3.apply(lambda row: estimate_2015(row[col_2012], row[col_2017]), axis=1)

In [44]:
df3

,State,County,Population_Estimate_2015,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,LACCESS_SENIORS15,LACCESS_WHITE15,...,VLFOODSEC_15_17,MEDHHINC15,POVRATE15,GROC15,SUPERC15,CONVS15,SPECS15,WICS15,FFR15,SNAPS15
0,AL,Autauga,54838,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,...,7.1,56580.0,12.7,2.899632,1.000000,31.000000,1.000000,5.000000,44.501840,45.030500
1,AL,Baldwin,202995,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,...,7.1,52387.0,12.9,29.100368,7.050184,118.552023,27.351288,28.100368,157.756438,191.980230
2,AL,Barbour,26294,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,...,7.1,31433.0,32.0,3.899632,1.050184,18.849448,1.949816,5.949816,23.200736,36.058548
3,AL,Bibb,22562,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,...,7.1,40767.0,22.2,4.949816,1.000000,14.799264,0.000000,4.949816,7.050184,18.262853
4,AL,Blount,57522,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,...,7.1,50487.0,14.7,4.899632,1.000000,26.849448,-0.050184,8.000000,23.150552,40.275399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,WY,Sweetwater,44754,18934.737809,4750.905615,359.608360,352.866113,4852.757500,1951.212126,16811.003936,...,5.1,77581.0,6.1,3.000000,0.000000,6.949816,0.000000,2.000000,2.050184,6.179826
3137,WY,Teton,23016,6212.390430,1577.771012,48.474161,60.192270,1096.186959,657.160241,5648.425247,...,5.1,71867.0,8.5,3.949816,1.000000,21.698896,1.000000,4.000000,31.301104,27.643108
3138,WY,Uinta,20770,4686.017653,2054.179828,211.630840,158.918171,1439.223015,437.130401,4259.949882,...,5.1,83290.0,6.6,11.301104,0.000000,19.301104,8.100368,3.000000,19.648712,8.138006
3139,WY,Washakie,8280,931.411647,309.030331,42.030853,36.804973,184.506884,219.490015,883.877353,...,5.1,62968.0,9.8,1.949816,1.000000,13.050184,2.000000,3.000000,16.899632,15.429826
3140,WY,Weston,7197,1237.267037,302.697580,112.645982,29.336258,252.611605,213.337163,1198.804198,...,5.1,56088.0,11.2,2.000000,0.000000,2.949816,0.000000,2.000000,5.949816,6.104243

In [45]:
df3.columns

Index(['State', 'County', 'Population_Estimate_2015', 'LACCESS_POP15',
       'LACCESS_LOWI15', 'LACCESS_HHNV15', 'LACCESS_SNAP15', 'LACCESS_CHILD15',
       'LACCESS_SENIORS15', 'LACCESS_WHITE15', 'LACCESS_BLACK15',
       'LACCESS_HISP15', 'LACCESS_NHASIAN15', 'LACCESS_NHNA15',
       'LACCESS_MULTIR15', 'GROC11', 'GROC16', 'SUPERC11', 'SUPERC16',
       'CONVS11', 'CONVS16', 'CONVSPTH11', 'CONVSPTH16', 'SPECS11', 'SPECS16',
       'SNAPS12', 'SNAPS17', 'WICS11', 'WICS16', 'FFR11', 'FFR16',
       'FOODINSEC_15_17', 'VLFOODSEC_15_17', 'MEDHHINC15', 'POVRATE15',
       'GROC15', 'SUPERC15', 'CONVS15', 'SPECS15', 'WICS15', 'FFR15',
       'SNAPS15'],
      dtype='object')

In [46]:
df3 = df3.drop(columns = ['GROC11', 'GROC16', 'SUPERC11', 'SUPERC16', 'CONVS11', 'CONVS16',
    'SPECS11', 'SPECS16', 'SNAPS12', 'SNAPS17', 'WICS11', 'WICS16','CONVSPTH11', 'CONVSPTH16',
    'FFR11', 'FFR16'])

In [47]:
df3

,State,County,Population_Estimate_2015,LACCESS_POP15,LACCESS_LOWI15,LACCESS_HHNV15,LACCESS_SNAP15,LACCESS_CHILD15,LACCESS_SENIORS15,LACCESS_WHITE15,...,VLFOODSEC_15_17,MEDHHINC15,POVRATE15,GROC15,SUPERC15,CONVS15,SPECS15,WICS15,FFR15,SNAPS15
0,AL,Autauga,54838,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,...,7.1,56580.0,12.7,2.899632,1.000000,31.000000,1.000000,5.000000,44.501840,45.030500
1,AL,Baldwin,202995,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,...,7.1,52387.0,12.9,29.100368,7.050184,118.552023,27.351288,28.100368,157.756438,191.980230
2,AL,Barbour,26294,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,...,7.1,31433.0,32.0,3.899632,1.050184,18.849448,1.949816,5.949816,23.200736,36.058548
3,AL,Bibb,22562,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,...,7.1,40767.0,22.2,4.949816,1.000000,14.799264,0.000000,4.949816,7.050184,18.262853
4,AL,Blount,57522,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,...,7.1,50487.0,14.7,4.899632,1.000000,26.849448,-0.050184,8.000000,23.150552,40.275399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,WY,Sweetwater,44754,18934.737809,4750.905615,359.608360,352.866113,4852.757500,1951.212126,16811.003936,...,5.1,77581.0,6.1,3.000000,0.000000,6.949816,0.000000,2.000000,2.050184,6.179826
3137,WY,Teton,23016,6212.390430,1577.771012,48.474161,60.192270,1096.186959,657.160241,5648.425247,...,5.1,71867.0,8.5,3.949816,1.000000,21.698896,1.000000,4.000000,31.301104,27.643108
3138,WY,Uinta,20770,4686.017653,2054.179828,211.630840,158.918171,1439.223015,437.130401,4259.949882,...,5.1,83290.0,6.6,11.301104,0.000000,19.301104,8.100368,3.000000,19.648712,8.138006
3139,WY,Washakie,8280,931.411647,309.030331,42.030853,36.804973,184.506884,219.490015,883.877353,...,5.1,62968.0,9.8,1.949816,1.000000,13.050184,2.000000,3.000000,16.899632,15.429826
3140,WY,Weston,7197,1237.267037,302.697580,112.645982,29.336258,252.611605,213.337163,1198.804198,...,5.1,56088.0,11.2,2.000000,0.000000,2.949816,0.000000,2.000000,5.949816,6.104243

In [48]:
df3.to_excel('Food insecurity final dataset 2015.xlsx')

In [49]:
df3.columns

Index(['State', 'County', 'Population_Estimate_2015', 'LACCESS_POP15',
       'LACCESS_LOWI15', 'LACCESS_HHNV15', 'LACCESS_SNAP15', 'LACCESS_CHILD15',
       'LACCESS_SENIORS15', 'LACCESS_WHITE15', 'LACCESS_BLACK15',
       'LACCESS_HISP15', 'LACCESS_NHASIAN15', 'LACCESS_NHNA15',
       'LACCESS_MULTIR15', 'FOODINSEC_15_17', 'VLFOODSEC_15_17', 'MEDHHINC15',
       'POVRATE15', 'GROC15', 'SUPERC15', 'CONVS15', 'SPECS15', 'WICS15',
       'FFR15', 'SNAPS15'],
      dtype='object')